body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  min-height: 400px;
  min-width: 400px;
  background: #fff;
  padding: 40px 20px;
  border-radius: 5px;
  box-shadow: 5px 55px 50px -20px #b6b6b6;
  width: 70%;
}

ul {
  padding: 0;
  list-style: none;
}

.twitter {
  display: flex;
}